[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "==8.*"
requests = "*"
aiohttp = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
