[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filter = "*"
djangorestframework = "*"
mysql-connector-python = "==8.*"
protobuf = "*"
pytz = "*"
six = "*"
Django = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3"
